body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #3498db;
}

.quiz,
.caution,
.stamp-section,
.map-section,
.quiz-number {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.choice-label {
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.choice-label:hover {
  background-color: #f5f5f5;
}

#answer-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#answer-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#stamp-result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.correct-stamp {
  background-color: #e74c3c;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.incorrect-stamp {
  background-color: #3498db;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-number input[type="text"] {
  width: 80%;
  padding: 8px 10px;
  border: 1px solid #969da3;
  border-radius: 25px;
  color: #333;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1vh;
}


.quiz-number button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-number button:hover {
  background-color: #2980b9;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}
